.imagem-fundo {
    width: 100%;
    height: 100%;
}

.container {
    margin: 50px auto 0 auto;
    width: 900px;
    height: 550px;
    position: relative;
}

.titulo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -65px;
    font-family: arial;
    color: #393838;
    font-weight: bold;
    font-size: 29px;
    background-color: rgba(255,255,255,0.7);
    padding: 8px;
    border: 2px solid rgba(100,100,100,0.3);
    border-radius: 13px;
}

.espelho {
    position: absolute;
    margin-top: 85px;
    padding-left: 50px;
}

.posicao {
    width: 95px;
    height: 85px;
    display: inline-block;
    margin: 8px;
}

    .posicao.aluno {
        background-color: silver;
        border-radius: 5px;
        box-shadow: 3px 4px 6px #AAA;
        position: relative;
    }

        .posicao.aluno span {
            position: absolute;
            font-family: arial;
            color: white;
            font-size: 10px;
            top: 60px;
            text-align: center;
            width: 100%;
            text-shadow: 1px 2px 3px #666;
        }

    .posicao > img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

.hidden {
    display: none;
}

.ultima-fileira {
    text-align: center;
    margin-right: 48px;
}
